

.cardShow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    position: relative;
}

.cardShow > h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Roboto,"Helvetica Neue",Arial,sans-serif;
}

.card {
    width: 20%;
}

.cardShow > .cardShowBottom {
    display: flex;
    justify-content:space-evenly;
}

.card > .cardInfo > .fa-heart {
    color: lightgrey;
    margin: 2px;
}

.card > .cardInfo > .fa-heart.fav {
    color: gold;
}

.card > .cardInfo > .fa-heart:hover {
    animation-name: changeColor;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.card > .cardInfo > div > .fa-star {
    color: lightgray;
    margin: 2px;
}

.card > .cardInfo > div > .fa-star:hover {
    animation-name: changeColor;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}























.cardInfo {
    display: flex;
    justify-content: space-evenly;
    background-color: aqua;
}

.cardInfo > div {
    display: flex;
    align-items:center;
}

.cardInfo > div > h6 {
    margin-left: 3px;
}

.card {
    padding: 5px;
    position: relative;
    overflow-y: hidden;
}

.card:hover .underCard {
    background: rgba(115,115,225,0.5);
    top: calc(100% - 66%);
}

.underCard {
    width: 100%;
    height: 66%;
    position: absolute;
    background: rgba(115,225,115);
    top: calc(100% + 5%);
    color: white;
    transition: 1.5s;
    
    overflow: hidden;
    white-space: break-spaces;
    font-size: 1em;

    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical; 
}

