

.cardShow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    position: relative;
}

.cardShow > h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Roboto,"Helvetica Neue",Arial,sans-serif;
}

.card {
    width: 20%;
    margin: 1% 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: 1px solid black;
    border-radius: 5px;

    background-color: #1B4B65;
    color: #e9ecec;
    
}

.headerCard {
    padding: 2%;
}

.card:hover {
    z-index: 1;
}

.cardShow > .cardShowBottom {
    display: flex;
    justify-content:space-evenly;
}

.card > .cardInfo > .fa-heart {
    color: lightgrey;
    margin: 2px;
    padding: 2%;
}

.card > .cardInfo > .fa-heart.fav {
    color: gold;
}

.card > .cardInfo > .fa-heart:hover {
    animation-name: changeColor;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
}

.card > .cardInfo > div > .fa-star {
    color: lightgray;
    margin: 2px;
}

.card > .cardInfo > div > .fa-star:hover {
    animation-name: changeColor;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
}

.cardInfo {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0);
    font-size: 20pt;
}

.cardInfo > div {
    display: flex;
    align-items:center;
}

.cardInfo > div > h6 {
    margin-left: 3px;
}



.card:hover .underCard {
    background: rgba(36, 36, 51, 0.5);
    top: calc(100% - 66%);
}

.underCard {
    width: 100%;
    height: 66%;
    position: absolute;
    background: rgba(36, 36, 51, 0.5);
    top: calc(100% + 50%);
    color: white;
    transition: 1.5s;
    
    overflow: hidden;
    white-space: break-spaces;
    font-size: 2em;

    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical; 
}

