.root {
    padding-left: 5%;
}


.root > header > h1 {
    text-align: center;
    font-weight: bold;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    padding: 80px;
    margin-bottom: 100px;
}

.formContent{
    display: flex;
    justify-content: center;
}


.formContent > .formContainer {
    width: 50%;
}

.formContent > .formContainer > .searchbarForm > input {
    border: none;
    border-radius: 2rem 0 0 2rem;
    padding: 10px;
    width: 80%;
}

.formContent > .formContainer > .searchbarForm > button {
    border: none;
    border-radius: 0 2rem 2rem 0;
    background-color: #1B4B65;
    color: white;
    font-weight: bold;
    padding: 10px 30px;

    cursor: pointer;
}
