.root {
    padding-left: 5%;
}


.root > header > h1 {
    text-align: center;
    font-weight: bold;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    padding: 80px;
    margin-bottom: 100px;
}

.formContent > form {
    display: flex;
    justify-content: center;
}

.formContent > form > input {
    border: none;
    border-radius: 2rem 0 0 2rem;
    padding: 10px;
    width: 25%;
}

.formContent > form > button {
    border: none;
    border-radius: 0 2rem 2rem 0;
    background-color: #1B4B65;
    color: white;
    font-weight: bold;
    padding: 10px 30px;
    
    cursor: pointer;
}
