.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;

    background-color: #709CA7;
    z-index: 50;
    height: 5%;
}

.footer a {
    text-decoration: none;
    color: #BEE9E7;
}

.footer a:hover {
    color: #9be5df;
    text-decoration: underline;
}
