.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 50%;
    height: 80%;
    position: sticky;
    transition: all 5s ease-in-out;
    overflow: auto;
  
}

.popup_container{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    bottom: 0;
}

.episode{
    background-color: blueviolet;
    border-color: black;
    border-style: solid;
    padding-top: 10px;
}



