
.team_scene {
    width: 320px;
    height: 500px;
    position: relative;
    perspective: 1000px;
}

.team_carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;

    transform: translateZ(-288px);
    transition: 1s;
}

.teammate { /* todo : change size */
    position: absolute;
    width: 300px;
    height: 400px;
    left: 10px;
    top: 10px;

    border: 2px solid red;
    text-align: center;
}

.teammate:nth-child(1) { transform: rotateY(  0deg) translateZ(288px);  background-color: rgba(255, 0, 0, 0.5); }
.teammate:nth-child(2) { transform: rotateY(120deg) translateZ(288px);  background-color: rgba(0, 255, 0, 0.5); }
.teammate:nth-child(3) { transform: rotateY(240deg) translateZ(288px);  background-color: rgba(0, 0, 255, 0.5); }


.teamCarouselController {
    position: absolute;
    bottom: 0;
    padding: 5%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    right: -15px;
}

.turnLeft, .turnRight {
    padding: 10px;
}

/*
.team_scene button:nth-child(2) {
    left: 15px;
}*/