.equipe {
    margin-bottom: 0 !important;
}

.team_scene {
    width: 320px;
    height: 500px;
    position: relative;
    perspective: 1000px;

    margin-top: 5%;
}

.team_carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;

    transition: 1s;
}

.teammate {
    position: absolute;
    width: 300px;
    height: 400px;
    left: 10px;
    top: 10px;

    border: 2px solid rgb(0, 91, 187);
    text-align: center;

    background-color: rgba(10, 80, 147, 0.79);
    color: #BEE9E7;
}

.teammate:nth-child(1) { transform: rotateY(  0deg) translateZ(288px); }
.teammate:nth-child(2) { transform: rotateY(120deg) translateZ(288px); }
.teammate:nth-child(3) { transform: rotateY(240deg) translateZ(288px); }

.teammate .serieFav img {
    border: 2px solid black;
}

.teamCarouselController button {
    position: absolute;
    top: 35%;

    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid white;

    background-color: rgba(0, 0, 0, 0.55);
    color: white;
}

.turnLeft {
    left: -60%;
}

.turnRight {
    right: -60%;
}

.turnLeft, .turnRight {
    padding: 10px;
}