.leftMenu {
    width: 80px;
    height: 100%;
    background-color: red;
    position: fixed;
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.leftMenu:hover {
    width: 250px;

    transition: width 0.5s ease;
}

.black {
    position: fixed;
    
    display:block;
    z-index: 0;
    top: 0;
    
    background-color: transparent;
    width: 100%;
    height: 100%;
    -webkit-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
}

.userInfo {
    display: flex;
    align-items: center;
}

.logoSize {
    width: 80px;
    height: 70px;
}

.leftMenu:hover ~ .black {
    display:block;
    z-index: 0;
    top: 0;
    
    background-color: rgba(0,0,0,.5);
    -webkit-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
}

.content {
    background-color: blue;
    
    height: 100%;
    
    z-index: -5;
    padding-left: 100px;
}

.nowrap {
    white-space: nowrap;
}

.leftMenuLinks > ul > li > a {
    display: flex;
    overflow: hidden;
}

.userInfo {
    overflow: hidden;
}


.leftMenuLinks * {
    align-items: center;
}