.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 50%;
    height: 80%;
    position: relative;
    
    transition: all 5s ease-in-out;
}

.popup_container{
    position: absolute;
    top: 0;
    left: 0;
}


